<mat-card class="container">
    <mat-card-title>Nossas Guitarras</mat-card-title>

    <div class="guitarras-list">
      <div *ngFor="let guitarra of guitarras" class="guitarra-card">
        <img mat-card-image [src]="guitarra.imagem" alt="{{ guitarra.nome }}" />
        <h3>{{ guitarra.nome }}</h3>
        <p>{{ guitarra.descricao }}</p>
        <p class="preco">{{ guitarra.preco }}</p>
        <button mat-raised-button (click)="handleCompra(guitarra.nome)" color="primary">
          Adicionar ao carrinho
        </button>
      </div>
    </div>
    
</mat-card>